

.cart {
    position: fixed;
    right: 25px;
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.cart-icon {
    margin: 0 10px;
}

.item-count {
    position: fixed;
    right: 78px;
    top: 13px;
    border-radius: 100%;
    background-color: red;
    color: seashell;
    width: 15px;
    font-size: 12px;
    z-index: 1;
}