.home {
    margin: 250px auto 0;
    width: 85%;
}

.product-row {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 550px) {
    .home {
        margin-top: 100px;
        
    }
}