
.logo-container {
    margin: 0 auto;
    width: 200px;
}

.logo {
    
    margin: 75px auto 0 auto;
    font-size: 5vw;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(53, 53, 53);
    
    
}



