.nav-container {
    position: fixed;
    top: 0;
    margin-top: 0;
    height: 320px;
    width: 100%;
    background-color:  rgba(255, 255, 255, 0);
    
    transition: 1s;
    
}

.nav-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    height: 320px;
    width: 10%;
    background-color: rgba(255, 255, 255, 0);
    transition: 1s;
}

.nav-logo {
    margin: 0 30px;
    font-size: 10vw;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(53, 53, 53);
    transition: 1s;
}

.nav-logo-left {
    font-size: 30px;
    margin-top: 20px;
    transition: 1s;
}

.nav-links {
    
    text-decoration: none;
    color: rgb(53, 53, 53);
    font-size: 1.5rem;
    margin: 20px 30px;
    border: 5px solid rgb(53, 53, 53);
    height: 65px;
    width: 200px;
    background-color: #ffffff;
    
    outline: none;
}

.nav-links:hover {
    border: 2px solid rgb(161, 159, 159);
    
}

.nav-links-left {
    
    font-size: 20px;
    margin: 10px 0;
    border: 2px solid rgb(53, 53, 53);
    height: 35px;
    width: 100px;
    transition: 1s;
}

.nav-links-left:hover {
    border: 2px solid rgb(161, 159, 159);
    
}
.login-section {
    position: absolute;
    top: 12px;
    right: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.login-left {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    transition: 1s;
}


.nav-login {

    margin: 0 20px;
    color: rgb(53, 53, 53);
    transition: 1s;
}

.nav-login:hover  {
    color: rgb(53, 53, 53);
}

